<div class="container text-center" ng-controller="SongCtrl">
    <div class="row">
        <div class="col-md-12">
            <h3>Details of <i> {{song.artist}} - {{song.title}}</i>
            </h3>
            <table class="table table-striped">
                <tr>
                    <td class="col-md-6">Artist</td>
                    <td class="col-md-6">{{song.artist}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">Title</td>
                    <td class="col-md-6">{{song.title}}</td>
                </tr>
                <tr>
                    <td class="col-md-6">Background</td>
                    <td ng-show="song.background" class="col-md-6"><p ng-bind-html="background"></p></td>
                    <td ng-show="!song.background" class="col-md-6 tooltip-test">No background found. Would you like to add facts about the song?</td>
                </tr>
                <tr>
                    <td class="col-md-6">Youtube</td>
                    <td ng-show="song.youtube" class="col-md-6"><youtube-video video-id="song.youtube" player-width="'100%'" player-height="'300px'"></youtube-video></td>
                    <td ng-show="!song.youtube" class="col-md-6 tooltip-test">No youtube clip found. Would you like to add one?</td>
                </tr>
            </table>
            <a href="#/remark/{{song.id}}" class="btn btn-primary" role="button">
            Add remark</a>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary tooltip-test" data-toggle="modal" data-target="#modalInProgress" data-placement="top" title="Show the remarks that are work in progress." ng-show="(song.remarks | filter:{ status: '!'+'Finished'}).length > 0">Running remarks</button>
            <button type="button" class="btn btn-primary tooltip-test" data-toggle="modal" data-target="#modalFinished" data-placement="top" title="Show the remarks that are processed." ng-show="(song.remarks | filter:{ status: 'Finished'}).length > 0" >
            Processed remarks
            </button>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="modalInProgress" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remarks</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Commentary</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="remark in song.remarks | filter:{ status: '!'+'Finished'} | orderBy: 'date':true">
                                <td>{{remark.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{remark.commentary}}</td>
                                <td>{{remark.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="modalFinished" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">Remarks</h4>
                </div>
                <div class="modal-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Commentary</th>
                                <th>Status</th>
                                <th>Response</th>
                                <th>Responsedate</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="remark in song.remarks | filter:{ status: 'Finished'} | orderBy: 'date':true">
                                <td>{{remark.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                <td>{{remark.commentary}}</td>
                                <td>{{remark.status}}</td>
                                <td>{{remark.response}}</td>
                                <td>{{remark.responsedate | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>