<div class="container">
	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" ng-controller="SongsCtrl">
		<h1>The songs</h1>
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Song Title</th>
					<th>Artist</th>
				</tr>
			</thead>
			<tbody>
				<td><div class="input-group"><input type="search" class="form-control" name="title" id="title" ng-model="title" ng-blur="titleFilterBlur()" ng-keypress="titleFilter()" ng-focus="s = true">
				<span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="srtTitle()"><span class="glyphicon {{sortT}}"></span></button></span></div></td>
				<td><div class="input-group"><input type="search" class="form-control" name="artist" id="artist" ng-model="artist" ng-blur="artistFilterBlur()" ng-keypress="artistFilter()" ng-focus="s = true"><span class="input-group-btn"><button type="button" class="btn btn-default" ng-click="srtArtist()"><span class="glyphicon {{sortA}}"></span></button></span></div></td>
				<tr ng-repeat="song in songs">
					<td><a href="#/song/{{song.id}}" class="thumb">{{song.title}}</a></td>
					<td>{{song.artist}}</td>
				</tr>
			</tbody>
		</table>
        <!--div class="dropdown"-->
        <div>
        	Items per page:
  			<select class="form-control" ng-options="size as size.name for size in sizes " ng-model="count" ng-change="update()"></select>
		</div>
		<div class="btn-group">
  			<button type="button" class="btn btn-default" ng-click="first()" ng-disabled="bla()">First</button>
  			<button type="button" class="btn btn-default" ng-click="previous()" ng-disabled="bla()">Previous</button>
  			<button type="button" class="btn btn-default" ng-click="next()" ng-disabled="bla2()">Next</button>
  			<button type="button" class="btn btn-default" ng-click="last()" ng-disabled="bla2()">Last</button>
		</div>
		<a href="#/suggestion" class="btn btn-primary" role="button">
            Add suggestion</a>
	</div>
</div> <!-- /container -->