.root {
  background-image: url(assets/img/background4.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: gold;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 150;
  font-size: 350%;
}

h2 {
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 150;
  font-size: 250%;
}

.header {
  padding: 2.5em;
  overflow: auto;
  width: 95%;
  height: 10%;
}

.header img {
  display: inline;
}

.header h1 {
  display: inline;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 99%;
  height: 3em;
  background-color: rgb(19, 18, 15, 0.5);
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em;
  text-align: center;
}