.root {
  background-image: url(assets/img/background4.jpeg);
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: gold;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 150;
  font-size: 350%;
  text-align: center;
}

h2 {
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 150;
  font-size: 250%;
  text-align: center;
}

@media only screen and (max-width: 900px) {
    h1 {
        font-size: 300%;
        font-weight: 350;
    }
    h2 {
        font-size: 200%;
        font-weight: 700;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 200%;
        font-weight: 250;
    }
    h2 {
        font-size: 100%;
        font-weight: 500;
    }
}

@media only screen and (max-width: 400px) {
    h1 {
        font-size: 150%;
        font-weight: 200;
    }
    h2 {
        font-size: 75%;
        font-weight: 400;
    }
}

.header {
  overflow: auto;
  height: 10%;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 3%;
  width: 100%;
  background-color: #333;
  z-index: 5;
  color: white;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1em;
  text-align: center;
}

.footer p {
    bottom: 0;
    font-size: 0.75em;
    line-height: 3%;
    vertical-align: middle;
}