<div class="navbar" *ngIf="isSticky">
</div>

<div class="filter-container" [ngClass]="{'sticky': isSticky}" #myHeader>
  <input (keyup)="onKey($event)" placeholder="Zoek op artiest of titel">
</div>
<div class="grid-list">
  <mat-grid-list [cols]="breakpoint" rowHeight="2:0.5" (window:resize)="onResize($event)" gutterSize="0.75em"
    infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="150" (scrolled)="onScrollDown()">
    <div *ngFor="let song of songsPaginated">
      <mat-grid-tile class="song">
        <div>
          <div class="artist">{{song.artist}}</div>
          <div class="title">{{song.title}}</div>
        </div>
      </mat-grid-tile>
    </div>
  </mat-grid-list>
</div>