.song {
    font-family: 'Helvetica Neue', sans-serif;
}

.song .artist {
    margin-top: 0.25em;
    color: white;
    font-size: 0.85em;
    font-weight: 300;
}

.song .title {
    margin-top: 0.75em;
    color: white;
    font-size: 1.25em;
    font-weight: 600;
}

.filter-container {
    padding: 1em;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 102px;
  }

input{
    border-radius:10px;
    text-align: center;
    border-style: none;
    width: 40%;
}

@media only screen and (max-width: 900px) {
    .song .artist {
        font-size: 0.75em;
        font-weight: 400;
    }
    .song .title {
        font-size: 1.25em;
        font-weight: 800;
    }
}

@media only screen and (max-width: 800px) {
    .song .artist {
        font-size: 0.6em;
        font-weight: 300;
    }
    .song .title {
        font-size: 1.10em;
        font-weight: 600;
    }
}

@media only screen and (max-width: 600px) {
    .song .artist {
        font-size: 0.5em;
        font-weight: 300;
    }
    .song .title {
        font-size: 1em;
        font-weight: 600;
    }
}

mat-grid-list {
    width: 80%;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
    border: 3px solid green;
    overflow: auto;
}
  
p {
    margin: 16px;
}
  
mat-grid-tile {
    background: rgba(255, 165, 0, 0.85);
    margin: 16px 0;
}
  
img {
    width: 350px;
} 
