.song {
    color: #369;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: 200;
    font-size: 150%;
}

.grid-list {
    width: 1100px;
}
.mat-card {
    margin: 16px 0;
}
  
p {
    margin: 16px;
}
  
.basic-list .mat-grid-tile {
    background: rgba(0, 0, 0, 0.32);
}
  
img {
    width: 350px;
}

mat-grid-tile {
    background: lightgoldenrodyellow;
}
  