.app {
  display: grid;
  height: 100vh;
  grid-template-areas:
    "header"
    "sidebar-one"
    "content"
    "sidebar-two"
    "footer";
  grid-template-rows: 1fr 1fr 10fr 1fr 1fr;
}

@media (min-width: 400px) {
  .app {
    grid-template-areas:
      "header header header"
      "sidebar-one content sidebar-two"
      "footer footer footer";
    grid-template-rows: 5fr 25fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.app-header {
  grid-area: header;
  background-color: orange;
}

.app-section {
  grid-area: content;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app-side-left {
  grid-area: sidebar-one;
  background-color: pink;
}

.app-side-right {
  grid-area: sidebar-two;
  background-color: aqua;
}

.app-footer {
  grid-area: footer;
  background-color: green;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
