.Songdetail {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-areas:
    "song-title"
    "song-spotify"
    "song-text"
    "song-photos"
    "song-youtube";
  grid-auto-rows: min-content;
}

@media (min-width: 700px) {
  .Songdetail {
    grid-template-areas:
      "song-title song-title"
      "song-spotify song-text"
      "song-youtube song-text";
      /* "song-photos song-text"; */
    /* grid-template-rows: 1fr 2fr 4fr 6fr;
    grid-template-rows: 1fr minmax(min-content, 2fr) minmax(min-content, 4fr) minmax(min-content, 4fr); */
    grid-template-columns: 5fr 6fr;
  }

  .song-spotify {
    height: auto;
  }
}

.song-title {
  grid-area: song-title;
  background-color: white;
  color: black;
}

.song-title h1 {
  color: darkgray;
  font-size: 2em;
  font-weight: 200;
}

.song-title h2 {
  color: black;
  font-size: 2.5em;
  font-weight: 300;
}

.song-text {
  grid-area: song-text;
  background-color: lightgray;
  color: black;
  font-size: 0.8em;
  font-weight: 100;
  margin: 0 10 0 10;
  padding: 20%;
}

.song-photos {
  grid-area: song-photos;
  background-color: #282c34;
}

.song-youtube {
  grid-area: song-youtube;
  background-color: red;
}

.song-spotify {
  grid-area: song-spotify;
  background-color: #1db954;
  height: 80px;
}
